<div class="teste">
  <div id="main-container">
    <h1>Cadastre-se</h1>
    <form id="register-form" action="">
      <div class="full-box">
        <label for="email">E-mail</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Digite seu e-mail"
        />
      </div>
      <div class="full-box">
        <label for="telefone">Telefone</label>
        <input
          type="number"
          name="telefone"
          id="telefone"
          placeholder="Digite seu telefone"
        />
      </div>
      <div class="full-box">
        <label for="telefone">Profissão</label>
        <input
          type="name"
          name="Profissão"
          id="Profissão"
          placeholder="Digite sua profissão"
        />
      </div>
      <div class="half-box spacing">
        <label for="name">Nome</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Digite seu nome"
        />
      </div>
      <div class="half-box">
        <label for="lastname">Sobrenome</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Digite seu sobrenome"
        />
      </div>
      <div class="half-box spacing">
        <label for="lastname">Empresa</label>
        <input
          type="name"
          name="empresa"
          id="empresa"
          placeholder="Digite o nome da empresa"
        />
      </div>
      <div class="half-box">
        <label for="passconfirmation">Área de atuação</label>
        <input
          type="name"
          name="atuação"
          id="atuação"
          placeholder="Digite a área de atuação"
        />
      </div>
      <div class="half-box spacing">
        <label for="lastname">Senha</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Digite sua senha"
        />
      </div>
      <div class="half-box">
        <label for="passconfirmation">Confirmação de senha</label>
        <input
          type="password"
          name="passconfirmation"
          id="passwordconfirmation"
          placeholder="Digite novamente sua senha"
          data-equal="password"
        />
      </div>

      <div class="full-box">
        <input class="btn-submit" type="submit" value="Registrar" />
      </div>
      <div class="full-box">
        <input class="voltar" type="submit" value="Voltar" />
      </div>
    </form>
  </div>
  <p class="error-validation template"></p>
</div>
