<h1 class="mt-4"> // Dashboard do RedMine</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="grafico-pizza chart-container">
          <canvas #pieChart width="100" height="100"></canvas>
        </div>
    </div>
    <div class="col-md-3">
        <div class="grafico-pizza chart-container">
          <canvas #pieChart width="100" height="100"></canvas>
        </div>
    </div>
    <div class="col-md-6">
      <div class="grafico-barra chart-container">
        <canvas #barChart width="200" height="100"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="grafico-barra-2 chart-container">
        <canvas #barChartTwo width="200" height="100"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="grafico-barra-3 chart-container">
        <canvas #redmineBarChart width="400" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
