.sb-sidenav-custom{
    background-color: #121C29; 
}
.nav-link, .sb-nav-link-icon i {
    color: #F6F7F7; /* Define a cor do texto e dos ícones como branco */
}

.sb-sidenav-menu-heading {
    color: #A6A6A6 /* Define a cor do texto dos cabeçalhos como branco */
}

.icon-color {
    color:  #F9C264; /* Substitua #FF0000 pela cor desejada, por exemplo, vermelho. */
}

/* CSS */
.sb-sidenav-footer {
    color: #121C29; 
    background: #b6bcbc;
}
