<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-custom" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link collapsed" routerLink="/home/inicio"
                            data-toggle="collapse" data-target="#collapseLayouts" 
                            aria-expanded="false" aria-controls="collapseLayouts"
                            ><div class="sb-nav-link-icon"><i class="fas fa-home icon-color"></i></div>
                            Início
                    </a>
                        <a class="nav-link collapsed" routerLink="/home/dashboard"
                        data-toggle="collapse" data-target="#collapseLayouts" 
                        aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt icon-color"></i></div>
                        Dashboard
                    </a>
        
                <div class="sb-sidenav-menu-heading">Serviços</div>

                    <a class="nav-link collapsed" routerLink="/serviços/projeto" 
                        data-toggle="collapse" data-target="#collapseLayouts" 
                        aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-tablet-alt icon-color"></i></div>
                        Projetos
                    </a>

                    <a class="nav-link collapsed" routerLink="/serviços/divida-tecnica" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon">   <i class="fas fa-vote-yea icon-color"></i>
                    </div>
                    Dívida Técnica (DT)
                    </a>

                    <a class="nav-link collapsed" routerLink="/clientes" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-user-friends icon-color"></i></div>
                    Fale Conosco
                    </a>

                    <div class="sb-sidenav-menu-heading">Configurações</div>
                    <a class="nav-link collapsed" routerLink="/configuracoes/meu-perfil" 
                        data-toggle="collapse" data-target="#collapseLayouts" 
                        aria-expanded="false" aria-controls="collapseLayouts"
                        ><div class="sb-nav-link-icon"><i class="fas fa-user-edit icon-color"></i></div>
                        Meu Perfil
                    </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">
                <i class="fas fa-user"></i> Usuário Logado:
            </div>
        </div>        
    </nav>
</div>