.sb-sidenav-custom{
    background-color: #b6bcbc;
}
.nav-link, .sb-nav-link-icon i {
    color:  #121C29; /* Define a cor do texto e dos ícones como branco */
}

.sb-sidenav-menu-heading {
    color: #000000; /* Define a cor do texto dos cabeçalhos como branco */
    font-size: 10px;
}

.icon-color {
    color:  #3F73B8; /* Substitua #FF0000 pela cor desejada, por exemplo, vermelho. #121C29;  */
}

/* CSS */
.sb-sidenav-footer {
    color: #121C29; 
    background: #b6bcbc;
}
