<nav class="sb-topnav navbar navbar-expand navbar-dark custom-bg">
    <div class="container-fluid">
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars icon-color"></i></button>

        <a class="navbar-brand mx-auto"> <!-- Adicione a classe mx-auto aqui -->
            <img src="assets/imagens/great_icon.png" alt="" width="50" height="45" class="d-inline-block align-text-top">
        </a>

        <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"> 
                <div class="cor"> Sair  <i class="fas fa-sign-out-alt icon-color"></i></div>
            </div>
        </a>
    </div>
</nav>
